/* Change placeholder text color */
.mat-input-element::placeholder {
    color: #FFFFFF !important;
    opacity: 1;
  }

  /* Change typed text color */
  .mat-input-element {
    color: white !important;
  }

  /* Optional: Change outline color */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  :host {
    color: white;
  }

  .google-icon {
    background-image: url('../../../../../assets/icons/google.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .custom-btn {
    display: flex;
    background-color: #6b6c6e !important;
    color: white !important;
    justify-content: center;
    align-items: center;

  }
