<div class="grid place-items-center relative">
  <header class="text-center mt-5 p-10">
    <img src="assets/logos/white_logo.png" class="w-32 md:w-full xl:w-[10vw]" />
  </header>

  <p class="text-3xl md:text-5xl text-center">Arrangements</p>

  <div
    class="mt-10 md:mt-20 w-full flex flex-col md:flex-row justify-center gap-16 md:gap-36"
  >
    <a
      href="/create-arrangement"
      class="flex flex-col justify-center items-center"
    >
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/create_arrangement.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            Create
          </p>
        </div>
      </div>
    </a>

    <a
      href="/manage-arrangement"
      class="flex flex-col justify-center items-center"
    >
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/manage_arrangement.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            Manage
          </p>
        </div>
      </div>
    </a>

    <a
      href="/history-arrangement"
      class="flex flex-col justify-center items-center"
    >
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/history_arrangement.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            History
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
