<div class="grid place-items-center relative">
  <div
    class="absolute top-0 right-0 flex flex-col space-y-2 p-3 md:flex-row md:items-center md:space-x-2 md:space-y-0 md:p-5"
  >
    <img
      src="assets/icons/language.png"
      class="w-8 h-8 self-center md:w-10 md:h-10"
      alt="{{ 'Language Icon' | translate }}"
    />
    <select
      class="bg-transparent border-b-2 border-gray-300 focus:border-blue-500 text-sm p-1"
      (change)="changeLanguage($event)"
    >
      <option [selected]="language === 'en'" value="en">English</option>
      <option [selected]="language === 'xh'" value="xh">Xhosa</option>
      <option [selected]="language === 'zu'" value="zu">Zulu</option>
      <option [selected]="language === 'st'" value="st">South Sotho</option>
    </select>
  </div>

  <header class="text-center mt-5 p-10">
    <img
      src="assets/logos/logo.png"
      class="w-full xl:w-[30vw]"
      alt="{{ 'Logo' | translate }}"
    />
  </header>

  <div class="flex justify-center xl:w-[35vw]">
    <div
      class="w-full p-8 rounded-xl xl:bg-white xl:bg-opacity-50 xl:w-full xl:min-h-[40vh] xl:max-h-[80vh]"
    >
      <h3 class="text-center text-4xl mb-8">
        {{ "Create your account" | translate }}
      </h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <mat-form-field class="w-full">
          <mat-label>{{ "Email" | translate }}</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="{{ 'Ex. johndoe@email.com' | translate }}"
          />
          @if (loginForm.hasError('email') && !loginForm.hasError('required')) {
          <mat-error>{{
            "Please enter a valid email address" | translate
          }}</mat-error>
          } @if (loginForm.hasError('required')) {
          <mat-error
            >{{ "Email is" | translate }}
            <strong>{{ "required" | translate }}</strong></mat-error
          >
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input
            type="password"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="{{ 'Enter your password' | translate }}"
          />
          <mat-icon
            class="absolute right-4 top-1/2 transform -translate-y-1/2 w-6 h-6 text-gray-500 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </mat-icon>
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error
            >{{ "Password is" | translate }}
            <strong>{{ "required" | translate }}</strong></mat-error
          >
          } @if (loginForm.get('password')?.hasError('minlength')) {
          <mat-error>{{
            "Password must be at least 6 characters" | translate
          }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>{{ "Confirm Password" | translate }}</mat-label>
          <input
            type="password"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="{{ 'Enter your password again' | translate }}"
          />
          <mat-icon
            class="absolute right-4 top-1/2 transform -translate-y-1/2 w-6 h-6 text-gray-500 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </mat-icon>
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error
            >{{ "Confirm your" | translate }}
            <strong>{{ "password" | translate }}</strong></mat-error
          >
          } @if (loginForm.get('password')?.hasError('minlength')) {
          <mat-error>{{
            "Password must be at least 6 characters" | translate
          }}</mat-error>
          }
        </mat-form-field>

        <button
          mat-flat-button
          class="primary-btn w-full rounded-full"
          (submit)="routeToDashboard()"
        >
          <span>{{ "CREATE ACCOUNT" | translate }}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-flat-button class="custom-btn w-full rounded-full">
          <mat-icon class="google-icon">google</mat-icon>
          <span class="ml-3">{{ "SIGN UP WITH GOOGLE" | translate }}</span>
        </button>
      </form>
    </div>
  </div>
</div>
