<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile() && shouldShowSidenav()"
    [disableClose]="false"
    [style.display]="shouldShowSidenav() ? 'block' : 'none'"
  >
    <app-navigation (closeNavBar)="sidenav.close()"></app-navigation>
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content>
    @if(isMobile() && shouldShowSidenav()) {
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="flex-grow text-center">{{ activeLabel() }}</span>
    </mat-toolbar>
    }
    <router-outlet></router-outlet>
    <app-footer class="flex justify-center"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
