<div class="grid place-items-center relative">
  <header class="text-center p-10 flex items-center justify-center">
    <img src="assets/logos/white_logo.png" class="w-24 md:w-full xl:w-[10vw]" />
    <span class="text-6xl md:text-8xl text-white">Panoptes</span>
  </header>
  <div class="carousel-container w-full h-56 mx-2 md:h-80 bg-gray-800 flex items-center justify-center">
     <h1>Carousel Stuff</h1>
  </div>

  <div
    class="mt-10 md:mt-20 w-full grid grid-cols-2 gap-4 md:flex md:flex-row justify-center md:gap-36"
  >
  <!-- [routerLink]="['/digital-profile']" -->
    <a
      (click)="navigate('digital-profile')"
      class="flex flex-col justify-center items-center"
    >
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/identity_platform.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            Digital Profile
          </p>
        </div>
      </div>
    </a>

    <a href="/municipal" class="flex flex-col justify-center items-center">
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/notification_important.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            TBN
          </p>
        </div>
      </div>
    </a>

    <a (click)="navigate('municipal')" class="flex flex-col justify-center items-center">
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/account_balance.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            Municipal
          </p>
        </div>
      </div>
    </a>

    <a href="/municipal" class="flex flex-col justify-center items-center">
      <div class="p-4 rounded-3xl w-40 md:w-60 bg-gray-300 bg-opacity-70">
        <div class="flex flex-col items-center justify-center">
          <img
            src="../../../assets/icons/storefront.png"
            class="w-16 md:w-24"
          />
          <p
            class="mt-3 md:mt-5 text-lg md:text-2xl text-center text-white font-medium no-underline"
          >
            Marketplace
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
