@if(!isMobile) {
<div
  class="fixed left-[15px] top-[15px] bottom-[15px] w-64 bg-gray-900 rounded-2xl"
>
  <!-- User Name and Profile pic -->
  <div class="p-3 flex justify-between">
    <span class="text-xl text-white content-center">John Doe</span>
    <img
      src="../../../../assets/icons/profile.png"
      alt="Profile"
      class="h-10 w-10"
    />
  </div>

  <!-- Divider -->
  <div class="w-[90%] mx-auto">
    <mat-divider></mat-divider>
  </div>
  <mat-nav-list></mat-nav-list>
</div>
} @if(isMobile) {
<mat-toolbar class="!bg-slate-800  !text-white">
  <button
    mat-icon-button
    aria-label="Menu Icon"
  >
    <mat-icon class="!text-white ">menu</mat-icon>
  </button>
  <!-- <span class="spacer"></span> -->
  <span class="text white pl-24">Active Route</span>
</mat-toolbar>
}
