<div class="grid place-items-center relative">
  <header class="text-center mt-5 p-10">
    <p class="text-5xl">Accounts</p>
  </header>

  <div class="flex justify-center w-full xl:w-[80vw] xl:ml-[2vh] p-2">
    <div
      class="w-full p-4 md:p-8 rounded-xl bg-white md:bg-opacity-50 md:xl:w-full xl:min-h-[40vh] xl:max-h-[80vh]"
    >
      <div [formGroup]="personalForm">
        <div class="hidden md:block">
          <mat-tab-group class="w-full">
            <mat-tab label="Main Account">
              <div class="flex flex-row w-full p-2">
                <!-- First Card -->
                <div class="w-1/2 pr-4">
                  <mat-card appearance="outlined" class="p-3 h-full">
                    <h3 class="text-lg text-black">Debtor Status:</h3>
                    <h3 class="text-lg text-black">Account Number:</h3>
                    <h3 class="text-lg text-black">Unit Reference:</h3>
                    <h3 class="text-lg text-black">Record ID:</h3>
                    <h3 class="text-lg text-black">Application Date:</h3>
                    <h3 class="text-lg text-black">Owner Tenant:</h3>
                    <h3 class="text-lg text-black">Debtor Type:</h3>
                    <h3 class="text-lg text-black">Group Account Number:</h3>
                    <h3 class="text-lg text-black">Postal Address 1:</h3>
                    <h3 class="text-lg text-black">Postal Address 2:</h3>
                    <h3 class="text-lg text-black">Postal Address 3:</h3>
                    <h3 class="text-lg text-black">Postal Code:</h3>
                    <h3 class="text-lg text-black">Surname:</h3>
                    <h3 class="text-lg text-black">First Names</h3>
                    <h3 class="text-lg text-black">ID Number:</h3>
                    <h3 class="text-lg text-black">Company Registration:</h3>
                  </mat-card>
                </div>

                <!-- Divider -->
                <div class="border-l border-gray-200 h-auto"></div>

                <!-- Second Card -->
                <div class="w-1/2 pl-4">
                  <mat-card appearance="outlined" class="p-3">
                    <h3 class="text-lg text-black">Last Due Date:</h3>
                    <h3 class="text-lg text-black">Parent Account:</h3>
                    <h3 class="text-lg text-black">Balance:</h3>
                    <h3 class="text-lg text-black">Current Balance:</h3>
                    <h3 class="text-lg text-black">Days 30:</h3>
                    <h3 class="text-lg text-black">Days 60:</h3>
                    <h3 class="text-lg text-black">Days 90:</h3>
                    <h3 class="text-lg text-black">Days 30+:</h3>
                    <h3 class="text-lg text-black">VAT:</h3>
                    <h3 class="text-lg text-black">Account Type:</h3>
                    <h3 class="text-lg text-black">Consumer Number:</h3>
                    <h3 class="text-lg text-black">Consumer Details:</h3>
                    <h3 class="text-lg text-black">Employee Number:</h3>
                    <h3 class="text-lg text-black">Valid ID:</h3>
                    <h3 class="text-lg text-black">Deceased:</h3>
                    <h3 class="text-lg text-black">Deceased Date:</h3>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Beneficiary Account">
              <div class="flex flex-row w-full p-2">
                <!-- First Card -->
                <div class="w-1/2 pr-4">
                  <mat-card appearance="outlined" class="p-3 h-full">
                    <h3 class="text-lg text-black">Debtor Status:</h3>
                    <h3 class="text-lg text-black">Account Number:</h3>
                    <h3 class="text-lg text-black">Unit Reference:</h3>
                    <h3 class="text-lg text-black">Record ID:</h3>
                    <h3 class="text-lg text-black">Application Date:</h3>
                    <h3 class="text-lg text-black">Owner Tenant:</h3>
                    <h3 class="text-lg text-black">Debtor Type:</h3>
                    <h3 class="text-lg text-black">Group Account Number:</h3>
                    <h3 class="text-lg text-black">Postal Address 1:</h3>
                    <h3 class="text-lg text-black">Postal Address 2:</h3>
                    <h3 class="text-lg text-black">Postal Address 3:</h3>
                    <h3 class="text-lg text-black">Postal Code:</h3>
                    <h3 class="text-lg text-black">Surname:</h3>
                    <h3 class="text-lg text-black">First Names</h3>
                    <h3 class="text-lg text-black">ID Number:</h3>
                    <h3 class="text-lg text-black">Company Registration:</h3>
                  </mat-card>
                </div>

                <!-- Divider -->
                <div class="border-l border-gray-200 h-auto"></div>

                <!-- Second Card -->
                <div class="w-1/2 pl-4">
                  <mat-card appearance="outlined" class="p-3">
                    <h3 class="text-lg text-black">Last Due Date:</h3>
                    <h3 class="text-lg text-black">Parent Account:</h3>
                    <h3 class="text-lg text-black">Balance:</h3>
                    <h3 class="text-lg text-black">Current Balance:</h3>
                    <h3 class="text-lg text-black">Days 30:</h3>
                    <h3 class="text-lg text-black">Days 60:</h3>
                    <h3 class="text-lg text-black">Days 90:</h3>
                    <h3 class="text-lg text-black">Days 30+:</h3>
                    <h3 class="text-lg text-black">VAT:</h3>
                    <h3 class="text-lg text-black">Account Type:</h3>
                    <h3 class="text-lg text-black">Consumer Number:</h3>
                    <h3 class="text-lg text-black">Consumer Details:</h3>
                    <h3 class="text-lg text-black">Employee Number:</h3>
                    <h3 class="text-lg text-black">Valid ID:</h3>
                    <h3 class="text-lg text-black">Deceased:</h3>
                    <h3 class="text-lg text-black">Deceased Date:</h3>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="block md:hidden">
          @if (mobilePage === 1) {
          <div class="w-full p-2">
            <h4 class="text-sm text-black">Debtor Status:</h4>
            <h3 class="text-sm text-black">Account Number:</h3>
            <h3 class="text-sm text-black">Unit Reference:</h3>
            <h3 class="text-sm text-black">Record ID:</h3>
            <h3 class="text-sm text-black">Application Date:</h3>
            <h3 class="text-sm text-black">Owner Tenant:</h3>
            <h3 class="text-sm text-black">Debtor Type:</h3>
            <h3 class="text-sm text-black">Group Account Number:</h3>
            <h3 class="text-sm text-black">Postal Address 1:</h3>
            <h3 class="text-sm text-black">Postal Address 2:</h3>
            <h3 class="text-sm text-black">Postal Address 3:</h3>
            <h3 class="text-sm text-black">Postal Code:</h3>
            <h3 class="text-sm text-black">Surname:</h3>
            <h3 class="text-sm text-black">First Names</h3>
            <h3 class="text-sm text-black">ID Number:</h3>
            <h3 class="text-sm text-black">Company Registration:</h3>

            <div class="flex justify-end mt-4">
              <button
                mat-flat-button
                class="primary-btn rounded-full"
                (click)="nextMobilePage()"
              >
                Next
              </button>
            </div>
          </div>
          } @if (mobilePage === 2) {
          <div class="w-full p-2">
            <h3 class="text-sm text-black">Last Due Date:</h3>
            <h3 class="text-sm text-black">Parent Account:</h3>
            <h3 class="text-sm text-black">Balance:</h3>
            <h3 class="text-sm text-black">Current Balance:</h3>
            <h3 class="text-sm text-black">Days 30:</h3>
            <h3 class="text-sm text-black">Days 60:</h3>
            <h3 class="text-sm text-black">Days 90:</h3>
            <h3 class="text-sm text-black">Days 30+:</h3>
            <h3 class="text-sm text-black">VAT:</h3>
            <h3 class="text-sm text-black">Account Type:</h3>
            <h3 class="text-sm text-black">Consumer Number:</h3>
            <h3 class="text-sm text-black">Consumer Details:</h3>
            <h3 class="text-sm text-black">Employee Number:</h3>
            <h3 class="text-sm text-black">Valid ID:</h3>
            <h3 class="text-sm text-black">Deceased:</h3>
            <h3 class="text-sm text-black">Deceased Date:</h3>

            <div class="flex justify-between mt-4">
              <div class="xl:w-1/2">
                <button
                  mat-stroked-button
                  class="w-full rounded-full"
                  (click)="prevMobilePage()"
                >
                  <span>BACK</span>
                </button>
              </div>
              <div class="xl:w-1/2">
                <button
                  mat-flat-button
                  class="primary-btn rounded-full"
                  (click)="nextMobilePage()"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
          } @if (mobilePage === 3) {
          <div class="w-full p-2">
            <h3 class="text-sm text-black">Debtor Status:</h3>
            <h3 class="text-sm text-black">Account Number:</h3>
            <h3 class="text-sm text-black">Unit Reference:</h3>
            <h3 class="text-sm text-black">Record ID:</h3>
            <h3 class="text-sm text-black">Application Date:</h3>
            <h3 class="text-sm text-black">Owner Tenant:</h3>
            <h3 class="text-sm text-black">Debtor Type:</h3>
            <h3 class="text-sm text-black">Group Account Number:</h3>
            <h3 class="text-sm text-black">Postal Address 1:</h3>
            <h3 class="text-sm text-black">Postal Address 2:</h3>
            <h3 class="text-sm text-black">Postal Address 3:</h3>
            <h3 class="text-sm text-black">Postal Code:</h3>
            <h3 class="text-sm text-black">Surname:</h3>
            <h3 class="text-sm text-black">First Names</h3>
            <h3 class="text-sm text-black">ID Number:</h3>
            <h3 class="text-sm text-black">Company Registration:</h3>

            <div class="flex justify-between mt-4">
              <div class="xl:w-1/2">
                <button
                  mat-stroked-button
                  class="w-full rounded-full"
                  (click)="prevMobilePage()"
                >
                  <span>BACK</span>
                </button>
              </div>
              <div class="xl:w-1/2">
                <button
                  mat-flat-button
                  class="primary-btn rounded-full"
                  (click)="nextMobilePage()"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
          } @if (mobilePage === 4) {
          <div class="w-full p-2">
            <h3 class="text-sm text-black">Last Due Date:</h3>
            <h3 class="text-sm text-black">Parent Account:</h3>
            <h3 class="text-sm text-black">Balance:</h3>
            <h3 class="text-sm text-black">Current Balance:</h3>
            <h3 class="text-sm text-black">Days 30:</h3>
            <h3 class="text-sm text-black">Days 60:</h3>
            <h3 class="text-sm text-black">Days 90:</h3>
            <h3 class="text-sm text-black">Days 30+:</h3>
            <h3 class="text-sm text-black">VAT:</h3>
            <h3 class="text-sm text-black">Account Type:</h3>
            <h3 class="text-sm text-black">Consumer Number:</h3>
            <h3 class="text-sm text-black">Consumer Details:</h3>
            <h3 class="text-sm text-black">Employee Number:</h3>
            <h3 class="text-sm text-black">Valid ID:</h3>
            <h3 class="text-sm text-black">Deceased:</h3>
            <h3 class="text-sm text-black">Deceased Date:</h3>

            <div class="flex justify-between mt-4">
              <div class="xl:w-1/2">
                <button
                  mat-stroked-button
                  class="w-full rounded-full"
                  (click)="prevMobilePage()"
                >
                  <span>BACK</span>
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
